* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--background-color);
    background: linear-gradient(to right, var(--secondary-color), var(--background-color));
}

.container {
    background: var(--primary-color);
    height: 500px;
    width: 450px;
    padding: 1.5rem;
    margin-top: 150px;
    margin-right: 500px;
    margin-left: 500px;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.7);
    justify-content: center;
}

form {
    margin: 0 2rem;
}

.form-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--header-font-color);
    padding: 1.3rem;
    margin-bottom: 0.4rem;
}

.input-group input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin-top: 10px; /* Adjust the margin-top to align with the icon */
}

.input-group {
    position: relative;
    margin-bottom: 40px; /* Increased margin-bottom for better spacing between fields */
}

.input-group i {
    color: var(--paragraph-font-color);
}

.input-group img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
    padding-bottom: 5px; /* Adjust this value as needed */
}


input:focus {
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid var(--accent-color);
}

input::placeholder {
    color: transparent;
}

label {
    color: #757575;
    position: relative;
    left: 1.2em;
    top: -1.3em;
    cursor: auto;
    transition: 0.3s ease all;
}

input:focus~label, input:not(:placeholder-shown)~label {
    top: -3em;
    color: var(--accent-color);
    font-size: 15px;
}

.recover {
    text-align: right;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.recover a {
    text-decoration: none;
    color: var(--accent-color);
}

.recover a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

button {
    font-size: 1.1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: var(--accent-color);
    color: var(--text-color);
    cursor: pointer;
    transition: 0.9s;
}

button:hover {
    background: #07001f;
}

.or {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    text-align: center;
}

.icons {
    text-align: center;
}

.icons i {
    color: var(--accent-color);
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid var(--primary-color);
    margin: 0 15px;
    transition: 1s;
}

.icons i:hover {
    background: #07001f;
    font-size: 1.6rem;
    border: 2px solid var(--accent-color);
}

.links {
    display: flex;
    justify-content: space-around;
    padding: 0 4rem;
    margin-top: 0.9rem;
    font-weight: bold;
}

#signUpButton, #signInButton {
    color: var(--accent-color);
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
}

#signUpButton:hover, #signInButton:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

.messageDiv {
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1rem;
    opacity: 0;
    animation: fadeOut 7s forwards;
}